@model IEnumerable<Harvin.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Itens</h2>

<p>
    @Html.ActionLink("Adicionar Item", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Retirar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
