@model Harvin.Models.Delivery

@{
    ViewBag.Title = "Delete";
}

<h2>Finalizar</h2>

<h3>Você tem certeza de que quer Finalizar este Pedido?</h3>
<div>
    <h4>Pedido Delivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Finalizar Pedido" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
