
@{
    ViewBag.Title = "Finalizar";
}

<div class="cabecalho">
    <h5>Pedido Finalizado</h5>
    <hr>
</div>

<p class="bodytop_message">O seu pedido foi encaminhado com sucesso. Favor aguardar.</p>
