@model IEnumerable<Harvin.Models.Mesa>

@{
    ViewBag.Title = "Index";
}

<h2>Mesas</h2>

<p>
    @Html.ActionLink("Adicionar nova Mesa", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.mesaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.mesaId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.mesaId })
        </td>
    </tr>
}

</table>
