@{
    ViewBag.Title = "Acesso Negado";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 acessonegado">
            <img src="~/Content/images/cadeado.png" />
            <h3>O Acesso a este módulo foi negado!</h3>
        </div>
    </div>
</div>