@{
    ViewBag.Title = "Configuracoes";
}

<h2>Configuracoes</h2>
<p>Neste módulo você podérá gerenciar todas as informações referentes aos produtos vendidos, categorias dos produtos, informações sobre funcionarios e seus respectivos níveis de acesso e Cargo</p>
<br />
<a href="@Url.Action("Index", "Funcionarios")"><p style="text-align:center;">Funcionários</p></a>
<a href="@Url.Action("Index", "Cargo")"><p style="text-align:center;">Cargo</p></a>
<a href="@Url.Action("Index", "Categorias")"><p style="text-align:center;">Categorias</p></a>
<a href="@Url.Action("Index", "Produtos")"><p style="text-align:center;">Produtos</p></a>