@{
    ViewBag.Title = "Bem Vindo";
}

<div id="preload" class="preload"></div>
<div class="row">

    <!--PAINEL LATERAL ESQUERDO - METRÔ-->
    <div class="col s12 m9 lateral_direito">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <a href="#" class="col m12 l5 tile">
                        <i class="material-icons">face</i>
                        <h5>Clientes</h5>
                    </a>
                    <a href="#" class="col m12 l5 tile">
                        <i class="material-icons">perm_identity</i>
                        <h5>Funcionarios</h5>
                    </a>
                    <a href="#" class="col m6 l2 tile">
                        <i class="material-icons">edit</i>
                        <h5>Pedidos</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!--PAINEL LATERAL DIREITO - INFORMAÇÕES-->
    <div class="col s12 m3 lateral_esquerdo">
        <i class="material-icons">alarm_on</i>
        <div id="relogio">

        </div>
        <hr>
        <div>
            <h5>Situação do Estoque</h5>
            <p class="porcentagem">
                <i class="material-icons">check</i>
                87% - Bom
            </p>
        </div>
    </div>

</div>


<!--RELÓGIO-->
<script type="text/javascript">
      function relogio(){
        var data = new Date();
        var horas = data.getHours();
        var minutos = data.getMinutes();
        var segundos = data.getSeconds();

        if(horas < 10){
          horas = "0" + horas;
        }
        if(minutos < 10){
          minutos = "0"+ minutos;
        }
        if(segundos < 10){
          segundos = "0" + segundos;
        }
        document.getElementById("relogio").innerHTML=horas+":"+minutos+":"+segundos;
      }
      window.setInterval("relogio()", 1000);
</script>