@{
    ViewBag.Title = "Index";
}

<h4>Bem Vindo Patrick Cardoso></h4>
<h4>Painel Principal - Inicio</h4>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <a href="@Url.Action("Configuracoes", "Inicial")">
            <div>
                <p>Configurações</p>
            </div>
        </a>
    </div>
</div>